@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-size: 62.5%;
}

@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}
@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}
@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}
@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}
@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 10px;
    -webkit-text-size-adjust: none;
  }
}
@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}
@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}
.forms__button:hover, .popular__button:hover, .recipe__button:hover, .duo__button:hover, .overflow__right_button:hover, .swiper1 .swiper-slide div:hover {
  background-color: rgb(150, 150, 150);
}
.forms__button:active, .popular__button:active, .recipe__button:active, .duo__button:active, .overflow__right_button:active, .swiper1 .swiper-slide div:active {
  background-color: rgb(87, 87, 87);
}

body {
  background-color: #eaeaea;
}

.wrapper {
  font-family: "Josefin Sans";
  overflow: hidden;
}
.wwrapper a {
  color: #000000;
}

.container {
  max-width: 130rem;
  padding: 0 2rem;
  margin: auto;
}

.logo {
  margin: 0 auto;
  margin-top: 25rem;
  margin-bottom: 12rem;
  width: 38.2rem;
  height: 15.9rem;
}
.logo img {
  width: 100%;
  height: 100%;
}

.header {
  margin-bottom: 8.6rem;
}
.header__row {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 12.3rem;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 1.3rem 0px rgba(11, 12, 12, 0.15);
  padding: 50px 9.4rem;
}
.header__ul {
  display: flex;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding-top: 10px;
}
.header__ul .header__li {
  position: relative;
  margin-right: 1.6rem;
}
.header__ul .header__li:last-child {
  margin-right: 0;
}
.header__ul .header__li:hover .header__item-hover {

  display: block;
  opacity: 1;
}

.header__li{
    text-align: center;
}

.header__ul a {
  text-decoration: none;
}
.header__item-hover {
  display: none;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: calc((15.1rem - 100%) / 2 * -1);
  width: 15.1rem;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
}
.header__item-hover a {
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  line-height: 3.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #b7b7b7;
}
.header__item-hover a:hover {
  text-decoration: underline;
  color: #000000;
}

.header__column{

    margin-left: 100px;
}



.header__search{
    margin-left: 20px;

}

.register__button{
    margin-right: 15px;
    margin-left: 10px;
    margin: 15px 15px 0 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 600;
    background-color: white;

}

.register__button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

.login__button{
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.login__button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}



.header__search-block {
  position: relative;
  display: flex;
  align-items: center;
}
.header__search-text {
  display: block;
  border: 1px solid #c2c2c2;
  padding: 0 3rem;
  width: 16.2rem;
  height: 2.8rem;
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.header__search-text::-moz-placeholder {
  color: #000;
}
.header__search-text:-ms-input-placeholder {
  color: #000;
}
.header__search-text::placeholder {
  color: #000;
}

.slider {
  margin-bottom: 8.5rem;
}
.slider__swiper {
  box-shadow: 0px 0px 1.3rem 0px rgba(0, 0, 0, 0.15);
}

.swiper1 {
  overflow: hidden;
  position: relative;
}
.swiper1 .swiper-pagination {
  position: absolute;
  bottom: 0px;
  text-align: right;
  padding: 0 1.7rem 2.3rem 0;

}
.swiper1 .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #555555;
}


.swiper1 .swiper-slide {
  text-align: left;
}

.swiper1 .swiper-slide h2 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  letter-spacing: 0.025em;
  color: #921026;
}
.swiper1 .swiper-slide p {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  max-width: 35.5rem;
}
.swiper1 .swiper-slide div {
  width: 10.5rem;
  height: 2.8rem;
  border: 1px solid #c2c2c2;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.triple {

}
.triple__row {
  background-color: #ffffff;
  display: flex;
  padding: 4rem 10px 7.2rem;
  flex-wrap: wrap;
  background-color: #eaeaea;
  justify-content: center;
}
.triple__column {
  width: 320px;
  padding: 10px 15px 0;
  margin-bottom: 15px;
  margin: 0 15px 15px;
  background-color: white;
  border-radius: 10px;
  height: 400px;
  box-shadow: 0px 0px 1.3rem 0px rgb(0 0 0 / 15%);
}
hzkakdelatcomenti{
    flex: 0 1 30.333%;
}
.triple__item {
  text-align: left;
  height: 333px;
}
.triple__img1 {
  margin-bottom: 1.5rem;
  background: url("../img/bg2.png") 50%/cover no-repeat;
  height: 20.8rem;
}
.triple__img2 {
  margin-bottom: 1.5rem;
  background: url("../img/bg3.png") 50%/cover no-repeat;
  height: 20.8rem;
}
.triple__img3 {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
.triple__title {
  font-family: "Josefin Sans";
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 1rem;
  display: block;
  padding-top: 10px;
}
.triple__info {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
  margin-bottom: 75px;
}
.triple__info img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.triple__info-clock {
  width: 1.3rem;
  height: 1.3rem;
}
.triple__info-comment {
  width: 1.3rem;
  height: 1.3rem;
}
.triple__info-glazok {
  width: 1.3rem;
  height: 1.3rem;
}

.overflow {
  margin-bottom: 14rem;
}
.overflow__row {
  display: flex;
  height: 43.8rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 1.3rem 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}
.overflow__row > div:nth-child(1) {
  flex: 0 1 82rem;
}
.overflow__row > div:nth-child(2) {
  flex: 0 1 60rem;
  padding: 3rem 5rem 3rem 3.5rem;
  display: flex;
}
.overflow__item {
  display: flex;
  flex-direction: column;
}
.overflow__title {
  font-family: "Playfair Display";
  font-size: 3.2rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #055555;
  margin-bottom: 2.1rem;
  text-align: left;
  flex: 0 0 auto;
}
.overflow__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.6rem;
}
.overflow__left {
  display: flex;
  align-items: flex-end;
}
.overflow__left_clock {
  width: 1.6rem;
  height: 1.6rem;
}
.overflow__left_clock img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.overflow__left_4 {
  display: flex;
  align-items: flex-end;
}
.overflow__left_4 div {
  margin-right: 2px;
  width: 5px;
  background-color: #555555;
}
.overflow__left_4 div:nth-child(1) {
  height: 1.1rem;
}
.overflow__left_4 div:nth-child(2) {
  height: 1.5rem;
}
.overflow__left_4 div:nth-child(3) {
  height: 1.9rem;
}
.overflow__left_4 div:nth-child(4) {
  background-color: #fff;
  height: 2.4rem;
  border: 0.3px solid #555555;
}
.overflow__left span {
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
  margin-right: 1.1rem;
}
.overflow__right_button {
  width: 10.5rem;
  height: 2.8rem;
  border: 1px solid #c2c2c2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.7rem;
}
.overflow__right_button span {
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
}
.overflow__text {
  overflow-x: hidden;
  text-align: left;
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  padding-right: 1.7rem;
  /* Firefox */
  /* Chrome, Edge and Safari */
}
.overflow__text h4 {
  font-family: "Playfair Display";
  font-weight: 700;
  padding: 2rem 0;
}
.overflow__text {
  scrollbar-width: thin;
  scrollbar-color: #555555 #DDDDDD;
}
.overflow__text::-webkit-scrollbar {
  width: 2px;
  width: 2px;
}
.overflow__text::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #DDDDDD;
}
.overflow__text::-webkit-scrollbar-track:hover {
  background-color: #DDDDDD;
}
.overflow__text::-webkit-scrollbar-track:active {
  background-color: #DDDDDD;
}
.overflow__text::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #555555;
}
.overflow__text::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
.overflow__text::-webkit-scrollbar-thumb:active {
  background-color: #555555;
}

.duo {
  margin-bottom: 7.8rem;
}
.duo__row {
  display: flex;
  margin: 0 -4.2rem;
}
.duo__row > div:nth-child(2) {
  text-align: left;
}
.duo__column {
  display: flex;
  flex: 0 1 50%;
  padding: 0 4.2rem;
}
.duo__item {
  flex: 0 1 100%;
  box-shadow: 0px 0px 1.3rem 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 0 4.2rem 3rem 3.3rem;
  position: relative;
}
.duo__bruh {
  text-align: left;
  margin: 2rem 0 3.6rem 1rem;
  font-family: "Josefin Sans";
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  position: relative;
}
.duo__bruh::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: -1rem;
  width: calc(100% + 1rem);
  height: 0.2rem;
  opacity: 0.2;
  background-color: #555555;
}
.duo__e {
  margin: 0 auto;
  width: 35rem;
  height: 35rem;
  background: url("../img/bg6 (1) (1).png") 50%/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.duo__e-title {
  font-family: "Josefin Sans";
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 13px;
}
.duo__e-text {
  max-width: 14rem;
  font-family: "Playfair Display";
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #a9a9a9;
  margin-bottom: 1.6rem;
}
.duo__e-smile {
  font-family: "Playfair Display";
  font-size: 3.34rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #a9a9a9;
}
.duo__button {
  margin: 2rem auto 0;
  width: 10.5rem;
  height: 2.8rem;
  border: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.duo__button span {
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
}
.duo__author {
  display: flex;
}
.duo__icon img {
  width: 13rem;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.duo__userinfo {
  padding: 1.5rem 0 0 2rem;
  flex: 0 1 100%;
}
.duo__username {
  font-family: "Josefin Sans";
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 0.6rem;
}
.duo__usercountry {
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  position: relative;
}
.duo__usercountry::after {
  content: "";
  position: absolute;
  bottom: -4rem;
  left: 0px;
  width: 100%;
  height: 0.2rem;
  opacity: 0.2;
  background-color: #555555;
}
.duo__title {
  padding-left: 15rem;
  font-family: "Josefin Sans";
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 3.2rem;
}
.duo__text {
  padding-left: 15rem;
  font-family: "Josefin Sans";
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 11.8rem;
}
.duo__podpis {
  text-align: right;
  position: absolute;
  bottom: 3.3rem;
  right: 4.1rem;
  width: 16.3rem;
  height: 6.3rem;
}
.duo__podpis img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news {
  margin-bottom: 10rem;
}
.news__row {
  display: flex;
  justify-content: center;
}
.news__row > div:nth-child(2) {
  margin: 0 7.7rem;
}
.news__column {
  width: 29rem;
}
.news article {
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}

.swiper {
  margin-bottom: 5rem;
}
.swiper__blockname {
  font-family: "Playfair Display";
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #055555;
  position: relative;
  margin-top: 2.7rem;
  margin-bottom: 2.6rem;
  margin: 2rem 1.5rem 2.6rem;
}
.swiper__blockname::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -1rem;
  background-color: #dddddd;
  height: 2px;
  width: 100%;
}
.swiper__author {
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
}
.swiper__author_icon {
  width: 5.8rem;
  height: 5.8rem;
}
.swiper__author_icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper__author_name {
  margin-left: 2rem;
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
}
.swiper__author_name span {
  font-weight: 700;
}

.swiper2 {
  height: 20.4rem;
  overflow: hidden;
  position: relative;
}

.swiper2 .swiper-pagination {
  position: absolute;
  bottom: 1rem;
  text-align: center;
}
.swiper2 .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #555555;
}
.diagramma {
  padding: 3.6rem 1.7rem 5.3rem;
  text-align: left;
}
.diagramma__title {
  font-family: "Playfair Display";
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #055555;
  padding: 0 1rem;
  margin-bottom: 4rem;
}
.diagramma__item {
  display: flex;
  padding: 0 1rem;
  margin-bottom: 4rem;
}
.diagramma__item_body {
  margin-left: 2.5rem;
}
.diagramma__item_title {
  font-family: "Josefin Sans";
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
}
.diagramma__item_text {
  opacity: 0.5;
  font-family: "Josefin Sans";
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #000000;
}
.diagramma > div:last-child {
  margin-bottom: 0;
}
.diagramma__icon {
  flex: 0 0 6rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: relative;
  background-image: linear-gradient(225deg, #d6d6d6 0%, #ffffff 100%);
}
.diagramma__icon img {
  position: absolute;
}
.diagramma__icon div {
  position: absolute;
  font-size: 2.2rem;
  font-weight: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.diagramma__icon .i1-2 {
  bottom: 0;
  right: 0;
}
.diagramma__icon .i2-2 {
  bottom: 0;
  right: 0;
}
.diagramma__icon .i3-2 {
  bottom: 0;
  right: 0;
}

.blockname-2 {
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  font-style: italic;
  position: relative;
  margin-bottom: 1.5rem;
}
.blockname-2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.7rem;
  background-color: #dddddd;
  height: 2px;
  width: 100%;
}

.recipe {
  margin-bottom: 5rem;
  padding: 2.8rem 1.7rem 1.7rem;
}
.recipe__diff {
  display: flex;
  justify-content: space-around;
  opacity: 0.8;
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.recipe__slozhnost.active {
  font-weight: 700;
}
.recipe__item {
  text-align: left;
  display: none;
  margin-bottom: 3.5rem;
}
.recipe__item_body {
  margin-left: 1.6rem;
  flex: 1 1 auto;
}
.recipe__item_name {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 0.5rem;
}
.recipe__item_name span {
  font-weight: 700;
}
.recipe__item_text {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #000000;
}
.recipe__item.active {
  display: flex;
}
.recipe__img {
  flex: 0 0 5rem;
  width: 5rem;
  height: 4.5rem;
}
.recipe__button {
  margin-left: auto;
  width: 10.5rem;
  height: 2.8rem;
  border: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe__button span {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #010101;
}


.tags {
  margin-bottom: 5rem;
  padding: 2.8rem 1.7rem 1rem;
}
.tags__text {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2.5;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
}

.calendar {
  height: 36.7rem;
}

.popular {
  padding: 2.8rem 1.7rem 12.3rem;
  text-align: left;
  margin-bottom: 5rem;
  background: url("../img/bg8.png") 50%/cover no-repeat;
}
.popular__title {
  font-size: 3.2rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #921026;
  margin-bottom: 3.5rem;
}
.popular__subtitle {
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 1.5rem;
}
.popular__text {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #222222;
  margin-bottom: 1.8rem;
}
.popular__button {
  width: 10.5rem;
  height: 2.8rem;
  border: 1px solid #c2c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular__button span {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
}

.timeline {
  padding: 3.6rem 1.7rem 5.4rem;
}
.timeline__title {
  font-family: "Playfair Display";
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #055555;
  margin-bottom: -5rem;
}
.timeline__body {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  transform: rotate(-90deg);
}
.timeline__item_dif {
  opacity: 0.8;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #555555;
}
.timeline__time {
  font-size: 1.4rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
  display: flex;
  align-items: center;
}
.timeline__time1 div {
  height: 1rem;
  width: 6.8rem;
  background-color: #87d0c5;
  margin-right: 0.5rem;
}
.timeline__time2 div {
  height: 1rem;
  width: 10rem;
  margin-right: 0.5rem;
  background-color: #0d5959;
}
.timeline__time3 div {
  background-color: #b50051;
  height: 1rem;
  width: 13rem;
  margin-right: 0.5rem;
}
.timeline__text {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #6a6a6a;
  max-width: 20rem;
  margin: 5rem auto 0;
  border-top: 2px solid #dddddd;
  padding-top: 1.3rem;
}

.forms {
  margin-bottom: 12.5rem;
}
.forms a:hover {
  text-decoration: underline;
}
.forms .blockname-2 {
  margin-bottom: 4rem;
}
.forms__row {
  display: flex;
  justify-content: center;
}
.forms__column {
  padding: 0 7.4rem;
  margin-left: auto;
    margin-right: auto;
    width: 80em
}
.forms__item {
  width: 32.8rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
  padding: 2rem 3.1rem 2.3rem;
}
.forms__title {
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  margin-bottom: 2.3rem;
}
.forms__remember {
  opacity: 0.54;
  font-family: "Josefin Sans";
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}
.forms__checkbox {
  display: flex;
  align-items: center;
}
.forms__checkbox input {
  margin-right: 0.5rem;
}
.forms__a {
  opacity: 0.54;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.forms__terms {
  text-align: left;
  opacity: 0.54;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.forms__terms a {
  text-decoration: underline;
  color: #002dd6;
}
.forms__button {
  width: 15.5rem;
  height: 2.8rem;
  border: 1px solid #c2c2c2;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 15px;
}
.forms__button span {
  font-size: 1.2prem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
}
.forms .input-default {
  width: 100%;
  height: 4rem;
  border: 1px solid #c2c2c2;
  margin-bottom: 2rem;
  padding: 0 1.8rem;
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.forms .input-default:focus {
  box-shadow: inset 1px 2px 7px 0px rgba(11, 12, 12, 0.36);
}
.forms .input-default::-moz-placeholder {
  opacity: 0.2;
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.forms .input-default:-ms-input-placeholder {
  opacity: 0.2;
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.forms .input-default::placeholder {
  opacity: 0.2;
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}

.comments {
  margin: 60px 0;
}
.comments .container {
  padding: 2.3rem 0 3.3rem;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
.comments form {
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
}
.comments__title {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  text-align: left;
  padding-left: 10px;
}
.comments__usericon {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 6.6rem;
}
.comments__usertext {
  height: 4rem;
  border: 1px solid #c2c2c2;
  margin-right: 0.5rem;
  flex: 1 1 auto;
  padding: 0 1.8rem;
  font-family: "Josefin Sans";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.comments__button {
  width: 8.8rem;
  height: 4rem;
  background-color: #383737;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comments__button span {
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
}
.comments img {
  width: 100%;
  height: 100%;
}

.comment__block{
   margin: 0 0;
   text-align: left;
   margin-bottom: 30px;
   border-bottom: 1px solid gray;
   padding-bottom: 40px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
}
.footer__container {
  max-width: 98rem;
  margin: 0 auto;
}
.footer__row {
  height: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  width: 8.7rem;
  height: 3.6rem;
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer__ul {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
.footer__ul ul {
  display: flex;
}
.footer__ul a {
  opacity: 0.5;
  color: #fefefe;
}
.footer__ul a:hover {
  text-decoration: underline;
}
.footer__ul li {
  margin-right: 1.5rem;
}
.footer__ul li:last-child {
  margin-right: 0;
}
.footer__ctulhu {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  opacity: 0.5;
  color: #fefefe;
}
.footer a {
  color: #fefefe;
}

@media (max-width: 48em) {
  .header {
    display: none;
  }
  .triple__item {
    margin-bottom: 5rem;
  }
  .triple__row {
    flex-direction: column;
  }
  .triple__img1 {
    height: 35rem;
  }
  .triple__img1 img {
    width: 100%;
    height: 100%;
  }
  .triple__img2 {
    height: 35rem;
  }
  .triple__img2 img {
    width: 100%;
    height: 100%;
  }
  .overflow__row {
    flex-direction: column;
    height: auto;
  }
  .overflow__row .overflow__text {
    max-height: 26.7rem;
  }
  .overflow__row > div:nth-child(1) {
    flex: 0 1 auto;
    height: 43.8rem;
  }
  .overflow__row > div:nth-child(2) {
    flex: 0 1 auto;
  }
  .duo__row {
    flex-direction: column;
  }
  .duo__row > div:nth-child(1) {
    margin-bottom: 5rem;
  }
  .news__row {
    flex-direction: column;
    align-items: center;
  }
  .news__column {
    width: 40rem;
    margin: 0 0 5rem;
  }
  .news__row > div:nth-child(2) {
    margin: 0 0 5rem;
  }
  .timeline__text {
    margin-top: 10rem;
  }
  .forms__row {
    flex-direction: column;
    align-items: center;
  }
  .forms__column {
    margin-bottom: 5rem;
  }
}
.header a{
    color: black;
    font-family: "Josefin Sans";
}

.header__buttons{
    margin-bottom: 10px;
}

.span__text{
    font-size: 15px;
    font-weight: 900;
}

.post__image{
    width: 80%;
    height: 600px;
    margin-bottom: 50px;
}
.post__ingredients{
    font-size: 14px;
    text-align: left;
    font-family: "Josefin Sans";
    margin-bottom: 50px;
}
.post__title{
    font-size: 28px;
    font-weight: 600;
    font-family: "Josefin Sans";
    margin-bottom: 10px;
    text-align: center;
}
.step__title{
    font-size: 28px;
    font-weight: 600;
    font-family: "Josefin Sans";
    margin-bottom: 101px;
    text-align: left;

}
.post__text{
    font-size: 18px;
    font-family: "Josefin Sans";
    margin-left: 10px;
}

.post__description{
    font-size: 18px;
    display: flex;
    padding: 0 0 20px 10px;
}

.step__image{
    width: 50%;
    height: 333px;
    margin-left: 10px;
    margin-top: 15px;
}
.content{
    text-align: left;

}
.step__content{
    margin-top: 55px;
}
.post__favorite__image{
    width: 65%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.my__h2{
    font-weight: 600;
    text-align: left;
    font-family: "Playfair Display";
    font-size: 2.5rem;
    letter-spacing: 0.025em;
    color: #921026;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.post__category{

  bottom:10;
}

.tags__text{
    font-size: 14px;
    font-weight: 500;
}

.sp{
    height: 500px;
    padding-right: 650px;
}

.title__post{
    padding: 100px 0 0 10px;
    max-width: 333px;
}

.text__post{
    padding: 10px 0 0 10px;
}
.input-default{
    width: 100%;
    height: 25px;
    margin-bottom: 15px;
}

.file-default{
    width: 100%;
    height: 25px;
    border: 0;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.025em;
    margin-bottom: 10px;
}

.image__comment{
    border-radius: 50px;
}

.comment__img{
    float: left;
    width: 100px;
}

.comment__content{
    float: left;

}

.comment__date{
    font-size: 14px;
    color: gray;
    margin-left: 5px;
}

.comment__author{
    font-size: 24px;
    font-weight: 500;
}

.comment__text__block{
    width: 200px;
    margin-left: 100px;
}

.comment__text{
    font-size: 20px;
    width: 200px;
}

.comment__avatar{
  width: 75px;
  height: 75px;
  border-radius: 100px;
  display: inline-block;
}

.comment__delete{
  font-size: 14px;
  color: rgba(255, 0, 0, 0.9);
  margin-left: 5px;

}

.footer{
    margin-top: 100px;
}

.block__auth{
    background-image: url('https://auth.edimdoma.ru/assets/auth/auth-bg-243170c0a9bf010a6edaaa0d0bdf5b44.jpg');
    padding-top: 100px;
    padding-bottom: 50px;
    background-size: cover;
    position: relative;
    height: 777px;
}

.ingredients__block{
    width: 40%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
    padding-bottom: 20px;
}

.step__block{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
    padding: 0 15px;
    padding-bottom: 20px;
}

.input__wrapper {
  width: 100%;
  position: relative;
  margin: 15px 0;
  text-align: center;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  width: 100%;
  max-width: 290px;
  height: 60px;
  background: #1bbc9b;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}

label{
    font-size: 12px;
}

.forms__userArea{
    padding: 15px;
    min-height: 80px;
    min-width: 99.9%;
    max-width: 100%;
    max-height: 200px;
}

.season__image{
    width: 100%;
    height: 100%;
}



.update_status{
  font-size: 18px;
  color: black;
}

.update_status:hover{
  color: red;
}

.update_status__text:hover{
    font-size: 18px;
    color: red;
}