{% extends 'user/profile.html' %}
{% load static %}

{% block profile_content %}
    {% if posts %}
    <section class="triple">
        <div class="container">
            <div class="triple__row">
                {% for post in profile.post_author.all %}
                    <div class="triple__column">
                        <div class="triple__item">
                            <a href="{{ post.get_absolute_url }}"><img class="triple__img3"
                                                                       src="{{ post.image.url }}"></a>
                            <a class="triple__title title__text"
                               href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            <div class="triple__info">
                                <div class="triple__info-clock">
                                    <img src="{% static 'img/clock_hour_minute_second_time_timer_watch_icon_123193.png' %}"
                                         alt="">
                                </div>
                                <span class="span__text">{{ post.time_preparing }}</span>
                                <div class="triple__info-comment">
                                    <img src="{% static 'img/comment_120216.png' %}" alt="">
                                </div>
                                <span class="span__text">{{ post.post_comment.all.count }}</span>
                                <div class="triple__info-glazok">
                                    <img src="{% static 'img/seo-social-web-network-internet_232_icon-icons.com_61542 (1).png' %}"
                                         alt="">
                                </div>
                                <span class="span__text">{{ post.total_views }}</span>
                                <div class="overflow__right">
                                    <a href="{% url 'favorite_post' pk=post.id %}" class="overflow__right_button">
                                        <span>В избранное</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <span class="post__category my__h2">{{ post.category.name }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% else %}
        <div class="profile__about_me">
            <span class="profile__title center__title">У ПОЛЬЗОВАТЕЛЯ НЕТ ПОСТОВ</span>
        </div>
    {% endif %}
{% endblock %}