<!DOCTYPE html>
{% load static index_tags %}

<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
<div class="logo">
    <img src="{% static 'img/logo1.png' %}" alt="fds">
</div>
{% include 'include/header.html' %}
<div class="wrapper">

    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__row">
                <div class="footer__logo">
                    <img src="{% static 'img/logo_5.png' %}" alt="">
                </div>
                <a href="" class="footer__ctulhu">телега</a>
            </div>
        </div>
    </footer>

</div>
<div class="banana"></div>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% block js %}

{% endblock %}
</body>
</html>