{% extends 'base.html' %}

{% load static %}

{% block title %}Категории{% endblock %}

{% block content %}
    <section class="triple">
        <div class="container">
            <h1 class="my__h2">{% for cat in categories %}{% if forloop.first %}{{ cat.category.name }}{% endif %}{% endfor %}</h1>
            <div class="triple__row">
                {% for category in categories %}
                    <div class="triple__column">
                        <div class="triple__item">
                            <a href="{{ category.get_absolute_url }}"><img class="triple__img3" src="{{ category.image.url }}"></a>
                            <a class="triple__title title__text"
                               href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                            <div class="triple__info">
                            {% if category.time_preparing %}
                                <div class="triple__info-clock">
                                    <img src="{% static 'img/clock_hour_minute_second_time_timer_watch_icon_123193.png' %}"
                                        alt="">
                                </div>
                                <span class="span__text">{{ category.time_preparing }}</span>
                                <div class="triple__info-comment">
                                    <img src="{% static 'img/comment_120216.png' %}" alt="">
                                </div>
                                <span class="span__text">{{ category.post_comment.all.count }}</span>
                                <div class="triple__info-glazok">
                                    <img src="{% static 'img/seo-social-web-network-internet_232_icon-icons.com_61542 (1).png' %}"
                                         alt="">
                                </div>
                                <span class="span__text">{{ category.total_views }}</span>
                            {% endif %}
                        </div>
                        </div>
                        <span class="post__category my__h2">{{ category.name }}</span>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>




{% endblock %}