{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="block__auth">
        <section class="forms">
        <div class="forms__column">
            <div class="forms__item">
                <div class="blockname-2">Создать рецепт</div>
                <div class="forms__title">Создать рецепт</div>
                <form class="forms__register-form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button class="forms__button" type="submit"><span>Создать</span></button>
                </form>
            </div>
            <summon-Ctulhu></summon-Ctulhu>
        </div>
        </section>
    </div>
</div>
{% endblock %}
